@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}


/* components/ui/slider.tsx */
@layer utilities {
  .pause {
    animation-play-state: paused;
  }
}
/* @keyframes scroll-5 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-12rem * 5));
  }
}
@keyframes -scroll-5 {
  0% {
    transform: translateX(calc(-12rem * 5));
  }
  100% {
    transform: translateX(0);
  }
} */
@keyframes scroll-10 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-12rem * 10));
  }
}
@keyframes -scroll-10 {
  0% {
    transform: translateX(calc(-12rem * 10));
  }
  100% {
    transform: translateX(0);
  }
}
.slider {
  position: relative;
  overflow: hidden;
}
.slider::before,
.slider::after {
  background: linear-gradient(to right, theme('colors.light') 0%, #ffffff00 100%);
  content: '';
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 6rem;
  pointer-events: none;
}
.dark .slider::before,
.dark .slider::after {
  background: linear-gradient(to right, theme('colors.dark') 0%, #ffffff00 100%);
  content: '';
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 6rem;
  pointer-events: none;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
/* .slider .slide-track-5 {
  animation: scroll-5 30s linear infinite;
  display: flex;
  width: calc(12rem * 5 * 2);
}
.slider .-slide-track-5 {
  animation: -scroll-5 30s linear infinite;
  display: flex;
  width: calc(12rem * 5 * 2);
} */
.slider .slide-track-10 {
  animation: scroll-10 60s linear infinite;
  display: flex;
  width: calc(12rem * 10 * 2);
}
.slider .-slide-track-10 {
  animation: -scroll-10 60s linear infinite;
  display: flex;
  width: calc(12rem * 10 * 2);
}