@import "tailwindcss";

:root {
  --background: #FCF5ED;
  --foreground: #1F1717;
  --muted: #A49C97;
  --primary: #C7956D;
  --primary-foreground: #FCF5ED;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  
  --font-sans: var(--font-bricolage-grotesque);
  --font-mono: var(--font-geist-mono);
  --font-londrina-solid: var(--font-londrina-solid);
  --font-londrina-outline: var(--font-londrina-outline);
  --font-londrina-shadow: var(--font-londrina-shadow);
  --font-londrina-sketch: var(--font-londrina-sketch);

  --text-10xl: 10rem; /* 160px */
  --text-11xl: 12rem; /* 192px */
}

@utility container {
  margin-inline: auto;
}

body {
  @apply bg-background text-foreground font-sans;
}

::selection {
  background-color: var(--primary);
  color: var(--primary-foreground);
}
